/* DEBUG SECTION */
/* header,
main,
footer {
    border: 1px solid red;
} */

/* MAIN */
.my_photo {
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}

.my_photo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.first_page {
    width: 95%;
    margin: 0 auto;
}

.personal_info h2 {
    padding-top: 15px;
}

.personal_info p {
    padding-top: 15px;
}

.phone {
    display: none;
}

.button_blue {
    background-color: #53C7EC;
    width: 279px;
    height: 78px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

/* ----------------------------------------------- */


/* MOBILE VIEW */
@media only screen and (max-width: 428px) {
    .first_page {
        display: none;
    }

    .phone {
        height: 294px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }

}
/* -------------------------------------------------------------- */


/* WIDE SCREEN VIEW */
@media only screen and (min-width: 1440px) {
    main {
        margin: 0 auto;
        width: 100%;
        padding-top: 4%;
        display: flex;
    }

    .my_photo {
        flex-basis: 30%;
        align-self: flex-start;
    }

    .first_page {
        width: 100%;
        flex-basis: 70%;
        align-self: flex-start;
    }
    
    #about_me h2 {
        padding-top: 0;
    }
}