/* HEADER */
#site_name h1 {
    font-size: 2.25rem;
    text-transform: uppercase;
    text-align: center;
}

.horiz_line {
    margin: 0 auto;
    width: 95%;
    height: 2px;
    background-color: black;
}

nav {
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


/* MAIN */
.my_photo {
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}

.my_photo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.phone {
    display: none;
}


/*FOOTER SECTION*/
#social_media {
    display: flex;
    justify-content: space-around;
}

.social_media_button {
    margin: 0 auto;
    max-width: 60px;
    max-height: 60px;
    overflow: hidden;
}

.social_media_button img {
    max-width: 100%;
    height: auto;
    display: block;
}


@media only screen and (max-width: 428px) {
    #site_name {
        display: none;
    }

    .first_page {
        display: none;
    }

    .phone {
        display: contents;
    }

    #share_button, #instagram_button {
        display: none;
    }
}