/* DEBUG SECTION */
header, main, footer {
    border: 1px solid red;
}

/* THIS SECTION CONSISTS CCS GRID LAYOUT FOR OUR PAGE*/
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    row-gap: 3%;
}
/* ----------------------------------------------- */


/* HEADER */
#site_name h1 {
    font-size: 2.25rem;
    text-transform: uppercase;
    text-align: center;
}

.horiz_line {
    margin: 0 auto;
    width: 95%;
    height: 2px;
    background-color: black;
}

nav {
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav div:hover {
    font-weight: 900;
}
/* ----------------------------------------------- */

/* MAIN */
.my_photo {
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}

.my_photo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.phone {
    display: none;
}

.button_blue {
    background-color: #53C7EC;
    width: 279px;
    height: 78px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
/* ----------------------------------------------- */

/*FOOTER SECTION*/
#social_media {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

.social_media_button {
    margin: 0 auto;
    max-width: 60px;
    max-height: 60px;
    overflow: hidden;
}

.social_media_button img {
    max-width: 100%;
    height: auto;
    display: block;
}
/* ----------------------------------------------- */


/* MOBILE VIEW */
@media only screen and (max-width: 428px) {
    #site_name {
        display: none;
    }

    #projects_nav_link {
        display: none;
    }

    nav {
        justify-content: center;
        padding-top: 15px;
    }

    .horiz_line {
        display: none;
    }

    .first_page {
        display: none;
    }

    .phone {
        height: 294px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }

    #social_media {
        max-width: 279px;
        justify-content: space-between;
    }

    #share_button, #instagram_button {
        display: none;
    }
}